MLFLOW_TRACKING_URI=azureml://eastus2.api.azureml.ms/mlflow/v1/...
AZURE_OPENAI_API_KEY=sk-...
AZURE_BLOB_CONN_STR=DefaultEndpointsProtocol=https;AccountName=...
AI_SEARCH_API_KEY=abc123...
AI_SEARCH_ENDPOINT=https://seu-search.search.windows.net
KEY_VAULT_NAME=kv-datathon-7mlet
POLICY_VERSION=v1.0